# Language specific ignores
go/wc
go-routines/wc
rust/target
zig-cache
zig-out
typescript/node_modules
typescript/dist
__pycache__
c/wc
*.xojo_uistate
xojo*/Builds - wc
xojo*/wc.debug
haskell/*.hi
haskell/*.o
haskell/wc

# Generated test data ignores
testdata/md-10.txt
testdata/md-100.txt
testdata/md-1000.txt

# General
.vscode
