go/wc
rust/target
zig-cache
zig-out
typescript/node_modules
typescript/dist
__pycache__
c/wc

testdata/md-10.txt
testdata/md-100.txt
testdata/md-1000.txt
*.xojo_uistate
xojo/Builds - wc
xojo/wc.debug
